@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Pacifico');

body{
  /* text-align: center; */
  background-color: #7a97d1;
  background-image: url("../src/img/world-map.png");
  background-position-x: 37%;
  background-position-y: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

.body-splash {
  background-image: url('./images/gorge-shutter-min.jpg');
  background-size: cover;
  min-height: 120vh;
}

.drag-target{
  display: none;
}

.header__caution{
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  margin-top: .5rem;
}

.header__logo{
  width: 55%;
  margin-top: 6.5%;
  margin-bottom: 2.5%;
  margin-left: 21%;
}

.header__rule{
  width: 80%;
  background-color: #d37e34;
  height: 5px;
  border: none;

}

.header__copy{
  text-align: center;
  font-size: 1.35rem;
  width: 80%;
  padding: .5rem;
  margin-left: 10%;
  margin-bottom: 4%;
  color: #fff;
}

.contributors{
  text-align: center;
  font-size: 1.85rem;
  font-family: 'Pacifico', Georgia, 'Times New Roman', Times, serif;
  color: #fff;
}

.logo__smaller {
  width: 150px;
  padding-left: 10px;
}

.recolor-bar {
  background-color: #0a193b;
}
#chartdiv{
  width: 100%;
  height: 700px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #fff;
  padding-top: 40px;
}

#mapdiv{
  height: 110vh;
  background: #fff;
}

.review__img,
.review-list__img{
  height: 210px;
  width: 210px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
}

.review-list__img{
  float: left;
  padding-top: 10px;
}

.review-list__text{
  float: right;
  margin-right: 15px;
}

.review__list__item{
  clear: both;
  margin-bottom: 40px;
  margin-top: 40px;
  border: 1px solid #282c34;
  padding: 25px;
  border-radius: 50px;
  background-color: #384269;
  color: #fff;
}

.review-list__text h2{
  font-family: 'Pacifico', Georgia, 'Times New Roman', Times, serif;
  margin-top: 15px;
}

.review-list__text .btn,
.card .btn{
  height: 0px;
  line-height: 0px;
}

.review-list__text h5{
  font-size: 1.25rem;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 90%;
}

.category{
  font-weight: 600;
}

.review__button,
.register__button{
margin-top: 20px;
  margin-bottom: 15px;
  font-size: 1.15rem;
  background-color: #d37e34;
  color: #fff;
  border-radius: 5px;
}

.review__button{
  padding: 20px 50px;
  
}

.register__button{
  padding: 30px 50px;
}

.review__button:hover,
.register__button:hover{
  background-color: #ab451f;
  color: #fff;
}

.ui.rating .active.icon{
  color: #d37e34;
}

.card{
  padding: 2rem;
  background-color: #384269;
  color: #fff;
}

.form__view{
  margin: 0 auto;
}

.card_mt{
  margin-top: 3rem;
}

.back__home{
  color: #fff;
}

.input-field .helper-text,
.input-field label,
.input-field input, textarea{
  color: #fff;
}

.review__title{
  font-family: 'Pacifico', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.review{
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 1.15rem;
  line-height: 175%;
  padding: 2.5rem;
}

.review__category{
  font-size: 1.45rem;
  line-height: 150%;
}

@media screen and (max-width: 450px){
  .review-list__text{
    margin: 0 auto;
  }

  .review{
    padding: 0;
    padding-bottom: 1rem;
  }

  .header__logo{
    margin-top: 10%;
    margin-left: 17%;
    width: 70%;
  }

}