body{
  /* text-align: center; */
  /* background-color: black; */
  background-image: url("../src/images/background3.gif");
  background-size: cover;
  /* background-repeat: no-repeat; */

}
/* .App {
  
} */

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#chartdiv{
  width: 100%;
  height: 600px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #fff;
  padding-top: 40px;
}

.review-list__img{
  float: left;
  height: 250px;
  width: 250px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50%;
  padding-top: 10px;
}

.review-list__text{
  float: right;
}

.review__list__item{
  clear: both;
  margin-bottom: 40px;
  margin-top: 40px;
  border: 1px solid #282c34;
  padding: 15px;
}

.review-list__text .btn{
  height: 0px;
  line-height: 0px;
}

.review__button{
  padding: 20px 50px;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
